body{
	margin: 10px 0px;
	color: red;
}

body.js-stop-transition * { transition:none !important; }

header{
	margin: 0px 20px;
	display: flex ;
	align-items: center;
	font-family: 'Trebuchet MS' ;
	font-size: 15px;
}

.logo{
	width: 130px;
	min-width: 130px;
}

.logo:hover{
	cursor: pointer;
}

.logo img{
	max-width: 100%;
}

header ul{
	list-style-type: none;
    display: flex;
    padding-left: 0px ;
}

.link{
	margin:0px 30px 0px 0px;
	text-decoration: none;
	color: #033333;
	position: relative;
	padding: 9999px 0px 25px 0px;
}
.link:hover{
	color:#035266;
}

.link::after{
	content: '';
	background-color: #035266 ;
	width: 100%;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: 0;
	transform: scale(0);
}

.link:hover::after{
	transform: scale(1);
	transition: 0.3s;
}

/*****************Création de la loupe de recherche***************/

#loupe{
	margin:0px 20px;
	background-color: #F7F7F7 ;
	min-width: 46px;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
}

#loupe::after{
	content: "";
	background-color: #E5E5E5;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 2px #4A5279 solid;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 7px;
	right: 0;
	position: absolute;
}

#tige-loupe{
	content: "";
	background-color: #4A5279;
	width:10px;	
	height: 2px;
	margin: auto;
	top: 10px;
	left: 17px;
	bottom: 0px;
	right: 0;
	position: absolute;
	transform: rotate(45deg);
}

/******************Côté droit du header***************/

.nav-right{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
}

.link-right{
	margin: 0px;
}

.button-link{
	padding: 10px 22px;
	border-radius: 50px;
	text-decoration: none;
	border: 2px solid;
}

.button-link-white{
	margin: 0px 20px ;
	border-color: #003033;
	color: #035266;
	transition: 0.30s;
}

.button-link-white:hover{
	background-color: #003033;
	color: white;
}
	
.button-link-red {
	background-color: #E4524F;
	border-color: #E4524F;
	color: white;
	transition: 0.40s ;
}

.button-link-red:hover{
	background-color: #B4524F;
	border-color: #B4524F ;
	color: white;
}
/********************Bannière Arborescence***********************/

.banniere-image{
	height: 96px;
	margin-top: 11px;
}

.banniere-image img{
	max-width: 100%;
	height: 100%;
}
